@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,700&display=swap');

* {font-family: "Roboto italic";}

a {
  text-decoration: none;
  color: #BD2A42 !important;
  font-weight: 500;
}

a:hover {
  color: #BD2A42;
  text-decoration: none;
}

ul {list-style-type: none;}

hr {
  margin-top: 0px;
  margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
